.homepage {
  min-height: 100vh;
  min-width: 80%;
  margin-top: 100px;
}

.phone {
  max-height: 20rem;
  max-width: 20rem;
  object-fit: cover;
}

.point {
  height: 40vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  margin: 5rem 0rem 5rem 0rem;
}

.services {
  padding: 5rem;
}

.product-page {
  margin: 5rem 0rem;
  min-height: 100vh;
}

.item-cards.items {
  margin-top: 30px;
  cursor: pointer;
}

/* Cart Modal */

.product-cart-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 7rem;
}

.summary-column {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.total-price {
  margin-bottom: 4rem;
}

.cart-buy-button.cart-buy {
  padding: 10px 30px;
  border-radius: 20px;
}

.empty-cart {
  min-height: 40vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filled-cart {
  min-height: 40vh;
  min-width: 100%;
}
/* Product Modal */

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.product-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 50vh;
  padding: 5rem;
  text-align: center;
}

.cart-button.cart-button-wrapper {
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-button.buy-button-wrapper {
  padding: 10px 30px;
  border-radius: 20px;
  margin: 0.5rem 2rem;
}

.product-modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}
/* Footer */

.footer-hny {
  color: white;
}

li {
  list-style: none;
}

.fa-icons.fontsawesome {
  width: 40px;
  height: 30px;
}
